<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p" xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--way1 of creating bean and setting its values using setter injection -->
	<!-- using value tag to set the values -->
	<!-- if we are using property tag means its setter injection -->
	<bean class="com.springcore.Student" name="student1">
		<property name="studentId">
			<value>512</value>
		</property>

		<property name="studentName">
			<value>Nikhil</value>
		</property>

		<property name="studentAddress">
			<value>Karmad</value>
		</property>
	</bean>

	<!--way2 of creating bean and setting values using setter injection-->
	<!-- using value as a attribute in property tag -->
	<bean class="com.springcore.Student" name="student2">
		<property name="studentId" value="721" />
		<property name="studentName" value="Ram" />
		<property name="studentAddress" value="Jamner" />
	</bean>

	<!-- way3 of creating bean and setting values using setter injection -->
	<!-- using p schema setting properties p:properties-->
	<!-- we have to include that schema in beans first then we can use it -->
	<bean class="com.springcore.Student" name="student3" p:studentId="420" p:studentName="Ramesh" p:studentAddress="Jalgaon" />
</beans>